<?xml version="1.0"?>
<launch>
    <!-- Gazebo world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch" />
    
    <!-- URDF -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find niryo_one_description)/urdf/gazebo_niryo_one.urdf.xacro" />

    <!-- Gazebo model - add a delay to let the controller start properly -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" 
        args="-param robot_description -urdf -model niryo_one" respawn="false" output="screen"/>


  <!-- spawn the conveyor_belt in gazebo -->
  <node name="spawn_conveyor_belt" pkg="gazebo_ros" type="spawn_model" args="-file $(find niryo_one_gazebo)/urdf/conveyor_belt.urdf -urdf -model conveyor_belt" />

  <!--Spawn Red box-->
  <node name="spawn_box" pkg="gazebo_ros" type="spawn_model" args="-file $(find niryo_one_gazebo)/urdf/red_box.urdf -urdf -model red_box" />


  <!--Spawn blue bin-->
<node name="spawn_bin" pkg="gazebo_ros" type="spawn_model" args="-file $(find niryo_one_gazebo)/urdf/bin.urdf -urdf -model blue_bin" />

        
</launch>
